<?xml version="1.0"?>
<config>
    <modules>
        <DruGento_CountryOrder>
            <version>0.1.0</version>
        </DruGento_CountryOrder>
    </modules>
    <global>
        <models>
            <drugento_countryorder>
                <class>DruGento_CountryOrder_Model</class>
            </drugento_countryorder>
            <directory_resource>
                <rewrite>
                    <country_collection>DruGento_CountryOrder_Model_Resource_Country_Collection</country_collection>
                </rewrite>
            </directory_resource>
        </models>
        <resources>
            <drugento_countryorder_setup>
                <setup>
                    <module>DruGento_CountryOrder</module>
                </setup>
            </drugento_countryorder_setup>
        </resources>
    </global>
</config>
